.section {
  align-items: center;
  color: #FFF;
  display: grid;
  justify-content: center;
  width: 100vw;
}

.container {
  display: grid;
  row-gap: 20px;
  width: 1200px;
}

.heading {
  font-size: 48px;
}

.line {
  background-color: #CCC;
  height: 1px;
  width: 50px;
}

.description {
  font-size: 24px;
}

.about {
  background-color: #333;
  height: 100vh;
}

.background {
  background-color: rgba(0,0,0,.7);
  height: 100%;
  width: 100%;
}

.image {
  opacity: 0.5;
}

.tech {
  background-color: #444;
  padding: 50px 0;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.technology {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

/* Colors */
.react { background-color: #61DAFB; color: #000; }
.typescript { background-color: #3178C6; }
.css { background-color: #1572B6; }
.django { background-color: #092E20; }
.python { background-color: #3776AB; }
.postgresql { background-color: #336791; }

.github { background-color: #181717; }
.docker { background-color: #2496ED; }
.jira { background-color: #0052CC; }


.copilot { background-color: #00B4AB; }
.vscode { background-color: #007ACC; }


.chatgpt { background-color: #10A37F; }
.gemini { background-color: #2196f3; }


.projects {
  background-color: #555;
  padding: 50px 0;
}

.projectList {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.project {
  align-content: end;
  background-color: #444;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  height: 300px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  row-gap: 10px;
  width: calc(100% - 40px);
}

.image {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  opacity: 0.3;
  transition: transform 0.5s ease;
  z-index: 0;
}

.project:hover .image {
  transform: scale(1.1);
}

.projectTitle,
.status,
.projectDescription,
.projectTechnologies {
  position: relative;
  z-index: 1;
}

.projectTitle {
  font-size: 24px;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  color: white;
  justify-self: start;
}

.status-planning {
  background-color: red;
}

.status-under-development {
  background-color: yellow;
  color: black;
}

.status-deployed {
  background-color: green;
}

.projectTechnologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.projectTechnology {
  border-radius: 5px;
  padding: 4px 8px;
  text-align: center;
}

@media screen and (max-width: 1280px){
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 1024px){
  .container {
    padding: 20px;
    width: calc(100vw - 40px);
  }

  .projectList {
    grid-template-columns: 1fr;
  }
}